openapi: 3.1.0
info:
  title: Astrology API
  description: API for fetching astrological data such as planetary positions, power scores, and nodal details.
  version: 1.0.0
  contact:
    email: highsman@lilaverse.app
servers:
  - url: https://lilaastrology.com
paths:
  /planets:
    get:
      summary: Get planetary positions
      description: Get planetary positions based on date, time, latitude, and longitude.
      operationId: getPlanetaryPositions
      parameters:
        - in: query
          name: date
          required: true
          schema:
            type: string
            example: 1977-05-21
          description: The date for the positions in ISO8601 format.
        - in: query
          name: time
          required: true
          schema:
            type: string
            example: 20:57:00
          description: The time for the positions in ISO8601 format.
        - in: query
          name: lat
          required: true
          schema:
            type: number
            example: 32.9128
          description: Latitude for the positions.
        - in: query
          name: lon
          required: true
          schema:
            type: number
            example: -117.206
          description: Longitude for the positions.
      responses:
        "200":
          description: A list of planetary positions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  planets:
                    type: array
                    items:
                      type: string
  /planets/power-scores:
    get:
      summary: Get planetary power scores
      description: Get total power scores for planets based on date, time, latitude, and longitude.
      operationId: getPlanetaryPowerScores
      parameters:
        - in: query
          name: date
          required: true
          schema:
            type: string
            example: 1977-05-21
          description: The date for the positions in ISO8601 format.
        - in: query
          name: time
          required: true
          schema:
            type: string
            example: 20:57:00
          description: The time for the positions in ISO8601 format.
        - in: query
          name: lat
          required: true
          schema:
            type: number
            example: 32.9128
          description: Latitude for the positions.
        - in: query
          name: lon
          required: true
          schema:
            type: number
            example: -117.206
          description: Longitude for the positions.
      responses:
        "200":
          description: A list of planetary power scores.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scores:
                    type: array
                    items:
                      type: string
  /planets/nodal-details:
    get:
      summary: Get nodal details
      description: Get nodal details based on date, time, latitude, and longitude.
      operationId: getNodalDetails
      parameters:
        - in: query
          name: date
          required: true
          schema:
            type: string
            example: 1977-05-21
          description: The date for the positions in ISO8601 format.
        - in: query
          name: time
          required: true
          schema:
            type: string
            example: 20:57:00
          description: The time for the positions in ISO8601 format.
        - in: query
          name: lat
          required: true
          schema:
            type: number
            example: 32.9128
          description: Latitude for the positions.
        - in: query
          name: lon
          required: true
          schema:
            type: number
            example: -117.206
          description: Longitude for the positions.
      responses:
        "200":
          description: Nodal details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  config:
                    type: string
